<!-- <h1>Menu</h1>

<div *ngFor="let item of menuItems">
  <h2>{{item.Name}}  {{item.Price | currency}}</h2>
  <p>{{item.Category}}</p>
</div>
 -->
 <h1>Chirpus Pizza Menu</h1>

 <table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Item Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let category of menuItems | unique: 'Category'">
      <tr>
        <td class="category" colspan="3">{{category}}</td>
      </tr>
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="item.Category === category">
          <tr>
            <td></td>
            <td>{{item.Name}}</td>
            <td>{{item.Price | currency}}</td>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>